@import url(https://fonts.googleapis.com/css?family=Press+Start+2P); //font-family: 'Press Start 2P', cursive;
@import url(https://fonts.googleapis.com/css?family=Audiowide); //font-family: 'Audiowide', cursive;
@import url(https://fonts.googleapis.com/css?family=Teko); //font-family: 'Teko', sans-serif;
$GB:#E5E3E5;
$gray:#AFAFAF;
$darkGray:#999999;
$screen:#97BA02;
$screen-off:#849107;
$pink:#EFB6D9;
$shadow:#66A4C6;
$ab-button:#B2305B;
$D-button:#515151;
@mixin size($w:100%, $h:100%) {
  width: $w;
  height: $h;
}

body {
  background-color:#86BCE0 ;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  position:relative;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  @include size(80vmin, 80vmin);
  top:10vmin;
}
.shadow {
  position:absolute;
  width:42vmin;
  height:70vmin;
  top:7vmin;
  left:-7vmin;
  border-radius: 2vmin 2vmin 8vmin 2vmin;
  background: $shadow;
  z-index:-1;
}
.shadow::before {
  position:absolute;
  content:'';
  @include size(15vmin, 15vmin);
  background: $shadow;
  border-radius:0 0 13vmin 0;
  bottom:0;
  right:-6.8vmin;
}
.shadow::after {
  position:absolute;
  content:'';
  width:0;
  height:0;
  border: 3.7vmin solid $shadow;
  border-color:transparent $shadow $shadow transparent;
  top:-6.1vmin;
  left:-.05vmin;
}
.gameBoy {
  position:absolute;
  width:42vmin;
  height:70vmin;
  background: $GB;
  border-radius: 2vmin 2vmin 8vmin 2vmin;
  box-shadow: .7vmin 0 2vmin rgba(#000, 0.3),inset 0 -1vmin 1vmin rgba(#000, 0.3),inset -.7vmin 0 0 rgba(white, 0.5),inset .7vmin 0 0 rgba(white, 0.7);
  .sign {
    position:absolute;
    @include size(78px, 33px);
    background: $pink;
    border-radius:1.5vmin;
    top: -60px;
    left:10px;
  }
  .sign::before {
    position:absolute;
    content:'';
    width:0;
    height:0;
    border:10px solid $pink;
    border-color:$pink transparent transparent transparent;
    top:33px;
    left:3.7vmin;
  }
  .sign::after {
    position:absolute;
    content:'Click↓';
    text-shadow: 1.5px 1.5px 0 rgba(black,.2);
    font-family: 'Teko', sans-serif;
    font-size:1.6rem;
    color:white;
    left:10px;
  }
  .switch {
    position:absolute;
    @include size(2vmin, .6vmin);
    background: $gray;
    border-radius:.7vmin .7vmin 0 0;
    border:.3vmin solid $gray;
    border-color:$darkGray $darkGray transparent $darkGray ;
    box-shadow:inset 0 .2vmin .3vmin rgba(white,.3);
    top:-1.2vmin;
    left:6vmin;
    transition:.3s;
  }
  .switch:hover {
    background: $darkGray;
    cursor: pointer;
  }
  .switch-on {
    left:9vmin;
  }
  .top-side {
    position:absolute;
    @include size(40vmin,.6vmin);
    background: $gray;
    box-shadow:inset 0 -.3vmin .2vmin rgba(white,1);
    top:2.5vmin;
    left:1vmin;
    .on_off {
      position:absolute;
      @include size(6vmin, 1.5vmin);
      box-shadow: inset .2vmin .35vmin .2vmin rgba($gray,.6),inset -.2vmin -.4vmin .2vmin rgba(white,.5);
      border-radius:2vmin;
      top:-2vmin;
      left:5vmin;
    }
    .line {
      position:absolute;
      @include size(.4vmin, .6vmin);
      background: $gray;
      box-shadow:inset .1vmin 0 .1vmin rgba(white,.5);
      left:5.7vmin;
      top:-2.5vmin;
    }
    .line::before {
      position:absolute;
      content:'';
      @include size(.4vmin, .6vmin);
      background: $gray;
      box-shadow:inset .1vmin 0 .1vmin rgba(white,.5);
      left:.8vmin;
    }
    .line::after {
      position:absolute;
      content:'';
      @include size(.4vmin, .6vmin);
      background: $gray;
      box-shadow:inset .1vmin 0 .1vmin rgba(white,.5);
      left:1.6vmin;
    }
  }
  .top-side::before {
    position:absolute;
    content:'';
    @include size(.4vmin,2.55vmin);
    background: $gray;
    top:-2.5vmin;
    left:2.5vmin;
    box-shadow: .3vmin 0 .2vmin rgba(white,1);
  }
  .top-side::after {
    position:absolute;
    content:'';
    @include size(.4vmin,2.55vmin);
    background: $gray;
    top:-2.5vmin;
    right:2.5vmin;
    box-shadow: .3vmin 0 .2vmin rgba(white,1);
  }
  .monitor {
    position:absolute;
    @include size(35vmin,28vmin);
    background: $gray;
    border-radius:1.5vmin 1.5vmin 5vmin 1.5vmin;
    left:3.5vmin;
    top:5vmin;
    box-shadow: .5vmin 0 0 rgba(#000, 0.5), -.5vmin 0  0 rgba(#000, 0.5), 0 -.2vmin 0 rgba(#000, 0.5);
    .top {
      position:absolute;
      width:90%;
      left:5%;
      top:1vmin;
      .line1 {
        position:absolute;
        @include size(30%, .2vmin);
        background: $ab-button;
      }
      .line1::after {
        position:absolute;
        content:'';
        @include size(100%, 100%);
        background: #3C3754;
        top:.6vmin;
      }
      .text {
        position:absolute;
        @include size(52%, .7vmin);
        background: white;
        opacity:.4;
        left:33%;
      }
      .line2 {
        position:absolute;
        @include size(12%, .2vmin);
        background: $ab-button;
        right:0;
      }
      .line2::after {
        position:absolute;
        content:'';
        @include size(100%, 100%);
        background: #3C3754;
        top:.6vmin;
      }
    }
    .center {
      position:absolute;
      @include size(22vmin,21vmin);
      background: $screen-off;
      left:6.5vmin;
      top:3vmin;
      box-shadow: inset 1vmin -.5vmin 0 rgba(#000, 0.1),inset -1.5vmin 1vmin .5vmin rgba(#000, 0.3);
      overflow:hidden;
      .nintendoPixel {
        position:absolute;
        width:80%;
        left:11%;
        top:-20%;
        opacity:.6;
      }
      .nintendoPixel-on {
        animation-name: nintendo;
        animation-duration: 5s;
      }
      @keyframes nintendo {
        0% {top:-20%;}
        80% {top:40%;}
        100% {top:40%;}
      }
    }
    .center-on {
      background: $screen;
    }
    .light {
      position:absolute;
      @include size(1vmin,1vmin);
      border-radius:50%;
      background: $darkGray;
      left:2vmin;
      top:10vmin;
      img {
        position:absolute;
        width:4.5vmin;
        top:2vmin;
        left:-1.5vmin;
      }
    }
    .light-on {
      background: red;
      box-shadow:inset .3vmin .2vmin .1vmin rgba(black,.25);
    }
  }
  .nintendo {
    position:absolute;
    top:34vmin;
    left:3.5vmin;
    .nintendo_logo {
      position:absolute;
      width:24vmin;
      img {
        width:100%;
      }
    }
  }
  .cross-botton {
    position:absolute;
    @include size(10vmin, 3.5vmin);
    background: $D-button;
    box-shadow:0 .8vmin 0 rgba(black, .5),inset .6vmin  0 rgba(black, .5),0vmin 1.5vmin .6vmin rgba(black,.3),-.6vmin 1.1vmin .6vmin rgba(black, .2);
    border-radius:.5vmin;
    top:44vmin;
    left: 5vmin;
    .circle {
      position:absolute;
      @include size(3.5vmin, 3.5vmin);
      border-radius:50%;
      box-shadow:inset -.3vmin .3vmin .4vmin rgba(black, .5),inset .3vmin -.3vmin .5vmin rgba(white, .1),-.1vmin .1vmin .0 rgba(white,.3);
      left:3.3vmin;
      z-index:2;
    }
    .light {
      position:absolute;
      @include size(.15vmin, 3vmin);
      border-radius:.1vmin;
      background: white;
      opacity:.7;
      left:9.5vmin;
      top:.35vmin;
    }
    .light::before {
      position:absolute;
      content:'';
      @include size(.23vmin, 2.6vmin);
      border-radius:.1vmin;
      background: white;
      opacity:.7;
      left:-3.06vmin;
      top:-3.2vmin;
    }
    .light::after {
      position:absolute;
      content:'';
      @include size(.23vmin, 2.6vmin);
      border-radius:.1vmin;
      background: white;
      opacity:.7;
      left:-3.06vmin;
      top:3.8vmin;
    }
  }
  .cross-botton::before {
    position:absolute;
    content:'';
    @include size(4vmin, 10vmin);
    background: $D-button;
    box-shadow:0 .7vmin 0 rgba(black, .5),inset .5vmin 0 0 rgba(black, .5),0vmin 1.3vmin .3vmin rgba(black,.3),-.6vmin 1.1vmin .6vmin rgba(black, .25);
    border-radius:.5vmin;
    left:3vmin;
    top:-3.25vmin;
  }
  .cross-botton::after {
    position:absolute;
    content:'';
    @include size(6vmin, 3.5vmin);
    background: $D-button;
    top:0vmin;
    left:2vmin;
  }
  .ab-button {
    position:absolute;
    @include size(12vmin, 6vmin);
    box-shadow:inset 0 1vmin 1vmin rgba($gray, .3),inset 0 -1vmin 1vmin rgba(white, .3);
    border-radius:4vmin;
    right: 4vmin;
    top:43vmin;
    transform:rotate(-30deg);
    .text {
      position:absolute;
      @include size(70%, 100%);
      top:5vmin;
      left:15%;
      display:flex;
      justify-content:space-between;
      align-items: center;
      img {
        width:1.2vmin;
      }
    }
  }
  .ab-button::before {
    position:absolute;
    content:'';
    @include size(4vmin, 4vmin);
    background: $ab-button;
    box-shadow: inset .2vmin -.5vmin .2vmin rgba(black,.3),-.6vmin -.4vmin .5vmin rgba(black,.2),.2vmin .2vmin .1vmin rgba(black,.3);
    border-radius:50%;
    left:1vmin;
    top:1vmin;
  }
  .ab-button::after {
    position:absolute;
    content:'';
    @include size(4vmin, 4vmin);
    background: $ab-button;
    box-shadow: inset .2vmin -.5vmin .2vmin rgba(black,.3),-.6vmin -.2vmin .5vmin rgba(black,.2),.2vmin .2vmin .1vmin rgba(black,.3);
    border-radius:50%;
    right:1vmin;
    top:1vmin;
  }
  
  .select-start-button {
    position:absolute;
    @include size(14vmin, 6vmin);
    top:55vmin;
    left:11vmin;
    .select {
      position:absolute;
      @include size(6vmin, 2.2vmin);
      box-shadow:inset 0 .7vmin .3vmin rgba($gray,.6),inset 0 -.7vmin .2vmin rgba(white,.85);
      border-radius:1vmin;
      transform: rotate(-30deg);
      top:3vmin;
      .select2 {
        position:absolute;
        @include size(5vmin, 1.2vmin);
        border-radius:.5vmin;
        background: #999999;
        box-shadow:inset 0 .1vmin 0vmin rgba(white,.7),inset .2vmin -.3vmin .05vmin rgba(black,.4),-.4vmin .1vmin .1vmin rgba(black,.3);
        top:.5vmin;
        left:.5vmin;
        img {
         position:absolute;
          top: 2vmin;
        }
      }
    }
    .start {
      position:absolute;
      @include size(6vmin, 2.2vmin);
      box-shadow:inset 0 .7vmin .3vmin rgba($gray,.6),inset 0 -.7vmin .2vmin rgba(white,.85);
      border-radius:1vmin;
      transform: rotate(-30deg);
      top:3vmin;
      right:0;
      .start2 {
        position:absolute;
        @include size(5vmin, 1.2vmin);
        border-radius:.5vmin;
        background: #999999;
        box-shadow:inset 0 .1vmin 0vmin rgba(white,.7),inset .2vmin -.3vmin .05vmin rgba(black,.4),-.4vmin .1vmin .1vmin rgba(black,.3);
        top:.5vmin;
        left:.5vmin;
        img {
          position:absolute;
          top: 2vmin;
          left:.5vmin;
        }
      } 
    }
  }
  
  .footer-logo {
    position:absolute;
    @include size(5.6vmin,1.6vmin);
    border-radius:1vmin;
    box-shadow: inset .2vmin .35vmin .2vmin rgba($gray,.6),inset -.2vmin -.4vmin .2vmin rgba(white,.5);
    bottom:2vmin;
    left:37%;
    .line {
      position:absolute;
      @include size(.4vmin, 2vmin);
      background: $gray;
      box-shadow:inset -.1vmin -.3vmin .1vmin rgba(black,.4),inset .2vmin .3vmin .1vmin rgba(white,.6);
      top:1.6vmin;
      right:1vmin;
      opacity:.7;
    }
    .line::before {
      position:absolute;
      content:'';
      @include size(.4vmin, 2vmin);
      background: $gray;
      box-shadow:inset -.1vmin -.3vmin .1vmin rgba(black,.4),inset .2vmin .3vmin .1vmin rgba(white,.6);
      right:.7vmin;
    }
    .line::after {
      position:absolute;
      content:'';
      @include size(.4vmin, 2vmin);
      background: $gray;
      box-shadow:inset -.1vmin -.3vmin .1vmin rgba(black,.4),inset .2vmin .3vmin .1vmin rgba(white,.6);
      right:1.4vmin;
    }
  }
  .speaker {
    position:absolute;
    @include size(10vmin,6vmin);
    justify-content:space-between;
    align-items: center;
    display:flex;
    transform:rotate(-35deg);
    bottom:5vmin;
    right:3vmin;
    span {
      @include size(100%/13,100%);
      border-radius:2vmin;
      background: $gray;
      box-shadow:inset .3vmin .3vmin .1vmin rgba(black,.5),.2vmin 0 0 rgba(white,1);
      overflow:hidden;
    }
  }
}